* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.carousel-container {
    width: auto;
    max-width: 890px;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 500%;
    height: 500px;
}

@media (max-width:780px)
{
  .carousel-container {
      width: 80%;
      /* max-width: 890px; */
      margin: auto;
      overflow: hidden;
      float: left;
  }
}
